# Python
__pycache__/
*.pyc
.venv/
venv/
*.egg-info/
.pytest_cache/
.ruff_cache/

# Env
.env
.env.local

# Node
node_modules/
dist/
frontend/.vite/

# Editors / OS
.vscode/
.idea/
.DS_Store
Thumbs.db

# Logs
*.log

# Local DB
*.db
*.sqlite3
Sample/*
!Sample/README.md
